[project]
name = "sc_script_gen"
version = "2.0.1"
description = "Use information from a bcl-convert samplesheet to create scripts to process scrnaseq and asapseq data"
authors = [
    {name = "Miles Smith", email = "miles-smith@omrf.org"},
]
dependencies = [
    "polars>=0.20.31",
    "typer>=0.12.3",
    "rich>=13.7.1",
]
requires-python = ">=3.10.14"
readme = "README.md"
license = {text = "GPL-3.0"}


[project.optional-dependencies]
dev = [
    "ruff>=0.4.8",
]

[project.scripts]
asapseq = "sc_script_gen.asapseq:asapseq"
fiveprime = "sc_script_gen.scrnaseq:five_prime_seq"

[tool.pdm]
distribution = false
